body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    font-size: 20px;
}
a {
    text-decoration: none;
    color: #000;

}
img {
}
a:hover {
    color: #d04413;
}
tr {
    border: 1px solid #d5d5d5;
    border-radius: 5px;
}
.btn-default {
    height: 35px;
    width: 180px;
    color: #e85a22;
    background-color: #ffc900;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
}
input {
    height: 35px;
    width: 80%;
    background: #f4f4f4;
    text-transform: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    padding-left: 10px;
}
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn {
  border: 2px solid gray;
  color: #fff;
  background-color: #e85a22;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
  margin: 5px 0px;
  cursor: pointer;
  max-height: 38px;
}
.btn-by-main {
    color: #fff;
}
.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.main-container {
    margin: 0 auto;
    max-width: 1120px;
    min-width: 320px;
}
.header-container {
    display: flex;
    justify-content: center;
}

.header-container-first {
    width: 100%;
    max-width: 1120px;
    padding: 10px 30px;
    background-color: #ffc900;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    box-sizing: border-box;
    border-radius: 5px;
    position: fixed;
    z-index: 1;
}

.header-container-second {
    width: 100%;
    padding: 85px 30px 0px 30px;
    box-sizing: border-box;
    display: grid;
    justify-content: center;
    grid-template-columns: 2fr 2fr 2fr 2fr 3fr;
    font-size: 18px;
}

.header-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2E26E;
}

.burger-menu {
    display: none;
}

.header-link {
    margin: 0 10px;
    text-decoration: none;
    color: #e85a22;
    font-weight: bold;
}

.header-link:hover {
    color: #d04413
}

.header-nav-link {
    margin: 0 10px;
    text-decoration: none;
    color: #000;
    border-radius: 5px;
    font-weight: bold;
}

.header-nav-link:hover {
    color: #d04413
}

.content-container {
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 6fr;
}
.content-block {
    border: 1px solid #d5d5d5;
    padding: 10px;
    margin-top: 25px;
    border-radius: 5px;
    min-height: 570px;
}
.invalid { border-color: red; }
#error { color: red }
.content-block-no-border {
    margin-top: 25px;
    border-radius: 5px;
    min-height: 500px;
}
.nav-main {
    margin: 25px 10px;
    display: flex;
    flex-direction: column;
}
.nav-border {
    border: solid 1px #d5d5d5;
    height: auto;
    display: flex;
    flex-direction: column;
}
.form-contact {
    margin: auto;
    width: 350px;
    height: 300px;
}
.form-contact a {
    font-size: 18px;
    text-decoration: underline;
}
.btn-login {
    height: 50px;
    width: 300px;
    margin-top: 50px;
    margin-bottom: 25px;
}
.row-input {
    margin: 15px 0px;
}
.active {
    color: #e85a22;
}
.flashes{
    list-style: none;
    padding: 10px;
    margin: 18px 0px;
    border-top: 1px solid #c00;
    border-bottom: 1px solid #c00;
    color: #f26834;
    background-color: #fff;
    text-align: center;
    font-size: 18px;
}
.nav-main .header-nav-link {
    font-weight: 400;
    padding: 10px;
    height: 20px;
    weight: 140px;
}
.container-login {
    text-align: center;
}
.content-header-line {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.content-header-line h2 {
    margin-top: 0px;
}
.content-header-line a {
    text-align: end;
    font-size: 16px;
    padding-top: 4%;
    text-decoration: underline;
}
th {
    font-size: 18px;
    text-align: center;
    color: #aaa;
    border-bottom: 1px solid #d5d5d5;
    border-top: 1px solid #d5d5d5;
    padding: 20px 3px;
}
td {
    padding: 1%;
    text-align: left;
    border-bottom: 1px solid #d5d5d5;
}
.btn-cart {
    float: right;
}
.btn-none {
    background-color: #fff;
    border-color: #fff;
    border-width: 0px;
}
.count-action {
    height: 28px;
    position: relative;
    cursor: pointer;
}
.basket-item-amount-btn-plus:before, .basket-item-amount-btn-plus:after, .basket-item-amount-btn-minus:after {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -1px;
    margin-left: -4px;
    width: 11px;
    height: 3px;
    background-color: #979797;
    content: "";
    transition: 300ms all ease;
}
.basket-item-amount-btn-plus:before {
    margin-top: -5px;
    margin-left: 1px;
    width: 2px;
    height: 11px;
}
.count-action:hover .basket-item-amount-btn-minus:after {
    background: #d0021b;
}
.count-action:hover > .basket-item-amount-btn-plus:before {
    background: #d0021b;
}
.count-action:hover > .basket-item-amount-btn-plus:after {
    background: #d0021b;
}
.add-dell-item {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}
.count-center {
    text-align: center;
    height: 24px;
    width: auto;
    border: 1px solid #ccc;
    margin-left: 3px;
}
.basket-item-block-actions {
    position: relative;
}
.basket-item-actions-remove:after, .basket-item-actions-remove:before {
    background-color: #aaaaaa;
}
.basket-item-actions-remove:before {
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(-45deg);
    transform: translate3d(-50%, -50%, 0) rotate(-45deg);
}
.basket-item-actions-remove:after {
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(45deg);
    transform: translate3d(-50%, -50%, 0) rotate(45deg);
}
.basket-item-actions-remove:after, .basket-item-actions-remove:before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 14px;
    background: #aaaaaa;
    content: '';
    transition: 300ms background-color ease;
    cursor: pointer;
}
.basket-item-block-actions:hover .basket-item-actions-remove:after {
    background: #d0021b;
}
.basket-item-block-actions:hover .basket-item-actions-remove:before {
    background: #d0021b;
}
.footer_card {
    display: grid;
    grid-template-columns: 3fr 1fr;
    justify-items: right;
}
.footer_card div {
    padding-top: 15px;
}
.footer_card p {
    margin-right: 25px;
}
.orange {
    color: #f26834;
}
.white {
    color: #fff;
}
.p-center-cart {
    text-align: center;
    margin: 0px;
}
.p-center-cart img {
    max-width: 350px;
    max-height: 350px;
}
.empty-cart {
    font-size: 36px;
    text-align: center;
    color: #bababa;
    margin-top: 0px;
    margin-bottom: 42px;
}
.card-block {
    display: flex;
    flex-wrap: wrap;
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    margin: 20px 10px;
    padding: 10px;
}
.card-block-row {
    display: flex;
    min-height: 210px;
    height: auto;
    width: 90%;
    margin: 5px;
    padding: 0px 20px;
    border: 2px solid #d5d5d5;
    border-radius: 5px;
    text-color: #000;
}
.card-text {
    border-left: solid 3px #000;
    padding-left: 15px;
    width: 100%;
}
.card-price-btm {
    display: flex;
    padding-left: 18px;
}
.card-price-btm .card-top {
    width: auto;
    height: auto;
}
.card-price-btm .card-top p{
    font-size: 18px;
}
.card-price-btm .form {
    padding-top: 22px;
    padding-left: 25px;
}
.card-price-btm .form a {
    bottom: 0px;
}
.card-price-btm p-center {
    margin: 8px 0px;
}
.card-main:hover form a {
    text-decoration: underline;
    text-decoration-color: white;
}
.card {
    display: grid;
    height: 300px;
    width: 246px;
    margin: 8px;
    justify-content: end;
    align-items: center;
    z-index: 0;
    border: 2px solid #d5d5d5;
    border-radius: 5px;
    text-color: #000;
}
.card-top {
    text-align: center;
    width: 100%;
    height: 220px;
}
.card-bottom {
    width: 248px;
    height: 70px;
    max-height: 130px;
    padding-top: 10px;
    border-top: 2px solid #000;
    text-align: center;
    align-items: center;
}
.card:hover .card-bottom {
    color: #fff;
    background-color: #e85a22;
    font-weight: 300;
    transition: 0.5s;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.card-main {
    height: auto;
    width: 250px;
}
.card-main:hover .card-main-bottom, .card-main:hover .btn-by-main, .card-main:hover .p-center{
    color: #fff;
    background-color: #e85a22;
    font-weight: 500;
    transition: 0.3s;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.card-main:hover a {
    cursor: pointer;
    transition: 0.5s;
}
.card-main-bottom {
    border-top: 2px solid #000;
    width: 250px;
    font-size: 16px;
}
.product-card-top {
    border: 2px solid #d5d5d5;
    border-radius: 5px;
    padding-bottom: 35px;
}
.alert {
  padding: 10px;
  margin: 18px 0px;
  border-top: 1px solid #c00;
  border-bottom: 1px solid #c00;
  color: #f26834;
  background-color: #fff;
  text-align: center;
  font-size: 18px;
}
.card-img-slider {
    border: 2px solid #d5d5d5;
    border-left: none;
}
.bread-crumbs {
    padding-left: 15px;
}
.info-product {
    display: flex;
}
div.info-product > div:nth-child(2) {
    width: 100%;
    border-top: 2px solid #d5d5d5;
}
.product-card-footer {
    border: 2px solid #d5d5d5;
}
.product-tabs ul {
    margin-top: 0px;
    list-style: none;
    display: table;
    width: 100%;
    padding: 0px;
}
.li {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 54px;
    border-bottom: 1px solid #d5d5d5;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    position: relative;
    width: 15%;
    padding-top: 5px;
    border-left: 1px solid #d5d5d5;
    border-right: 1px solid #d5d5d5;
}
li a {
    color: #999;
}
#content-slider {
    padding: 15px 20px;
}
/* slider product info*/

.hover-tab {
    border-top: 4px solid #e85a22;
    border-left: none;
    border-right: none;
    border-bottom: none
}
#btn1 {
    border-left: none;
}
#btn3 {
    border-right: none;
}
.display {
  display:none;
}
.displayyes {
  display: block;
}




.p-center {
    text-align: center;
}
.wrapper__checkbox {
  display: none;
}
.wrapper__checkbox:checked ~ .wrapper__menu {
  right: 0; }

.wrapper__checkbox:checked ~ .wrapper__button .wrapper__button-line:nth-child(1) {
  transform: rotate(45deg);
  top: 8px;
}
.wrapper__checkbox:checked ~ .wrapper__button .wrapper__button-line:nth-child(2) {
  opacity: 0;
}
.wrapper__checkbox:checked ~ .wrapper__button .wrapper__button-line:nth-child(3) {
  transform: rotate(-45deg);
  top: -6px;
}

.wrapper__button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ffc900;
  corsor: pointer;
  z-index: 1;
}
.wrapper__button-line {
  display: block;
  width: 23px;
  height: 3px;
  border-radius: 5px;
  background: #e85a22;
  margin: 2px 0;
  position: relative;
  transition: all .2s ;
}
.wrapper__menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 180px;
  height: 500px;
  background: #F2E26E;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 0px 40px 40px;
  transition: right .4s;
  border-bottom-left-radius: 60px;
}
.wrapper__menu-link {
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 30px;
  padding: 5px 10px;
  transition: all .2s linear;
}
.wrapper__menu-link:hover {
  padding-right: 20px;
  color: #d04413;
}
footer {
    width: 95%;
    margin: 0 auto;
}
.footer-container {
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 3fr 3fr;
    max-width: 1120px;
    min-width: 320px;
    justify-content: center;
    margin: 10px auto;

}
.col-f-l {
    display: flex;
    justify-content: center;
    border-left: 1px solid #d5d5d5;
    border-top: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
    border-radius: 5px;
}
.col-f-r {
    border-right: 1px solid #d5d5d5;
    border-top: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
    border-radius: 5px;
    text-align: right;
    padding-right: 30px;
}
.ul-footer {
    display: grid;
    list-style: none;
}
.right {
    justify-content: right;
}
.mobile {
    display: none;
}
.grid-9-1 {
    display: grid;
    grid-template-columns: 9fr 1fr;
}
.grid-9-1 .form {
    margin-top: 10px;
}
table {
    width: 100%;
}

ymaps {
    text-align: center;
    margin: auto;
}
.map {
    text-align: center;
}
.group-btn {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.group-btn a{
    margin-right: 5%;
}

@media screen and (max-width: 1050px){
    .btn {
        font-size: 16px;
        padding: 0px 20px;
    }
    .card-price-btm .form {
        padding-top: 10px;
    }
    .card-price-btm .form button{
        color: #000;
    }
    .main-container {
        max-width: 95%;
    }
    .mobile {
        display: block;
    }
    .header-container-first {
        height: 80px;
        max-width: 90%;
        padding: 5px 20px;
        background-color: #ffc900;
        display: grid;
        grid-template-columns: 1fr 5fr 2fr;
        position: fixed;
        border-radius: 4px;
    }
    .header-container-second {
        width: 96%;
        max-width: 100%;
        padding: 110px 5px 0px 5px;
        grid-template-columns: 2fr 2fr 2fr 2fr 4fr;
    }
    .content-container {
    }
    .card-block {
        justify-content: center;
    }
    .card-block-row {
        display: block;
        width: 220px;
        font-size: 16px;
        padding: 0px;
    }
    .card-block-row-mobile {
        display: flex;
        min-height: 210px;
        height: auto;
        width: 97%;
        border-top: 3px solid #e85a22;
        text-color: #000;
    }
    .card-img {
        text-align: center;
    }
    .card-text {
        width: auto;
        border: none;
        padding: 0px 8px;
        border-top: solid 3px #000;
    }
    .card-text-mobile {
        width: 100%;
        border: none;
        padding: 0px 8px;
        margin: auto;
    }
    .none-content {
        display: none;
    }
    .footer-container {
        max-width: 95%;
        width: 90%;
        grid-template-columns: 1fr 1fr;
    }
    .p-center {
        margin: 8px 0px;
    }
    .col-del {
        display: none;
    }
    .form-cart-mobile {
        display: grid;
        grid-template-columns: 2fr 3fr;
        margin-top: 15px;
    }
    .footer_card {
        border-top: 3px solid #e85a22;
    }
    #add_one_id {
        padding: 0px;
    }
    .btn-cart {
        min-height: 48px;
    }
}

@media screen and (max-width: 846px) {
    body {
        font-size: 16px;
    }
    .main-container {
        max-width: 100%;
    }
    .header-container-first {
        height: 70px;
        width: 100%;
        max-width: 100%;
        grid-template-columns: 9fr 1fr;
    }
    .header-container-second {
        width: 100%;
        max-width: 100%;
        padding: 5px 5px;
    }
    .content-container {
        padding-top: 60px;
        width: 100%;
        grid-template-columns: 1fr;
    }
    .card-block {
        justify-content: center;
    }
    .header-container-second {
        display: none;
    }
    .card-img-slider {
        border: none;
    }
    .header-nav {
        display: none;
    }
    .header-logo {
        display: none;
    }
    .burger-menu {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        z-index: 1;
    }
    .burger-menu-icon {
        font-size: 25px;
    }
    .footer-container {
        width: 100%;
        padding-left: 0px;
        grid-template-columns: 1fr;
    }
    .col-f-l {
        border-right: 1px solid #d5d5d5;
        padding: 10px;
        margin: 10px;
    }
    .col-f-r {
        text-align: center;
        border-left: 1px solid #d5d5d5;
        padding: 10px;
        margin: 0px 10px 10px;
    }
    .tr-zerro {
        display: none;
    }
    tr {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        width: 90%;
    }
    .basket-item-block-actions {
        position: absolute;
    }
    .info-product {
        flex-wrap: wrap;
        justify-content: center;
    }
    .p-center-cart img {
        max-width: 280px;
    }
}

@media screen and (max-width: 530px){
    .main-container {
        max-width: 450px;
    }
    .content-container {
        width: 100%;
        grid-template-columns: 1fr;
        padding-top: 100px;
    }
    .header-container-first {
        width: 100%;
        max-width: 100%;
    }
    .nav-main {
        margin: 0px;
    }
    .card-block-row {
        flex-wrap: wrap;
        justify-content: center;
    }
    .p-center {
        text-align: center;
    }
    .card-block-row-mobile {
        display: grid;
        grid-template-columns: 1fr;
    }
    .card-block-row-mobile {
        position: relative;
    }
    .grid-9-1 .form{
        position: absolute;
        right: 25px;
    }
    .form-contact {
        width: auto;
    }
}

@media screen and (max-width: 400px){
    .no-mobile {
        display: none
    }
    .header-container-first {
        width: 100%;
        height: 85px;
    }
    .nav-main {
        margin: 0px;
    }

    .content-container {
        grid-template-columns: 1fr;
        justify-content: center;
    }
    .card-block {
        justify-content: center;
    }

}