{% extends 'base.html' %}

{% block title %}
<title>Про магазин Шестерёнка</title>
{% endblock %}

{% block active_about %}
active
{% endblock %}

{% block body %}
<title>Магазин Шестерёнка</title>
<div class="container">
    <div class="sdf">
        <h1>Мы открылись!</h1>
        <br>
        <p>Первый дискаунт магазин по автозапчастям в Кирове! Приобретайте качественные запчасти на свой авто по разумным ценам. </p>
        <p>Мы представляем новый формат магазинов. У нас нет арми продовцов-консультантов и менеджеров, нет красивых и дорогостоящих торговых точек. Мы предполагаем, что Вы сами знайте, какая деталь Вам нужна и можете самостоятельно выбрать её на сайте. Благодаря этому мы можем предоставить качественные детали по самым низким ценам!</p>
        <br>
        <p>
            Как купить запчасти в нашем магазине?
        </p>
        <ul>
            <li>
                Выбрать необходимую запчасть и перейти в корзину
            </li>
            <li>
                В корзине нажать на кнопку "Оформить заказ"
            </li>
            <li>
                В открывшейся вкладке оплатить заказ
            </li>
            <li>
                Сохранить полученный код (если Вы еще не зарегистрированы) и ехать в <a href="/where" style="color:#e85a22">пункт выдачи </a>
            </li>
            <li>
                В пункте выдачи предоставить код полученный после оплаты (или логин, если Вы зарегистрированы) и получить заказ
            </li>
        </ul>
    </div>
</div>
</div>
{% endblock %}
