{% extends 'base.html' %}

{% block title %}
<title>Про магазин Шестерёнка</title>
{% endblock %}

{% block body %}
<title>Магазин Шестерёнка</title>
<h3>О нас</h3>
<div class="container">
    <div class="text-center">
        <h1>Мы открылись!</h1>
        <br>
        <p>Первый дискоунт магазин по автозапчастям в Кирове! Приобретайте качественные запчасти на свой авто по разумным ценам. Покупая у нав, Вы экономите время и деньги! Не надо стоять в очереди и ждать пока Вам подберут нужную деталь. У нас дешевле потому что нам не нужно содержать огромный шатат продовцов-консультантов.</p>
    </div>
</div>
</div>
{% endblock %}
