<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block title %}{% endblock %}
    <link href="{{ url_for("static", filename="css/style.css") }}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6063ce6a21.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='logo.png') }}">
</head>

<body>
    <div class="main-container">
        <header class="header-container">
            <div class="header-container-first">
                <div class="header-logo">
                    <a class="navbar-brand" href="/">
                        <img class="header-logo" src="{{ url_for("static", filename="logo.png") }}" alt="" width="40" height="40" class="d">
                        Шестёнка
                    </a>
                </div>
                <div class="header-cart">
                    <img src="{{ url_for("static", filename="cart_icon.png") }}" height="35" width="35" alt="ops image">
                    <a href="/cart" style="text-decoration: none; color: #000000; padding-left: 7px;">
                        {% if cart_info.count_product %}
                        в корзине <span class="orange">{{cart_info.count_product}} товаров</span> на сумму <span class="orange">{{cart_info.cost_products_in_cart}} руб. </span> экономия 0 руб.
                        {% else %}
                            Ваша корзина пуста
                        {% endif %}
                    </a>
                </div>
                <nav class="header-nav">
                    {% if current_user.is_authenticated %}
                        <a class="header-link" href="/profile">Профиль</a>
                    {% endif %}
                    {% if not current_user.is_authenticated %}
                        <a class="header-link" href="/login">Войти</a>
                        <a class="header-link" href="/registration">Регистрация</a>
                    {% endif %}
                    {% if current_user.is_authenticated %}
                        <a class="header-link" href="/logout">Выйти</a>
                    {% endif %}
                </nav>
                <div class="burger-menu" >
                    <!--<i class="burger-menu-icon fas fa-bars"></i> -->
                      <input type="checkbox" id="checkbox" class="wrapper__checkbox">
                      <label for="checkbox" class="wrapper__button">
                        <span class="wrapper__button-line"></span>
                        <span class="wrapper__button-line"></span>
                        <span class="wrapper__button-line"></span>
                      </label>
                      <div class="wrapper__menu">
                          {% if current_user.is_authenticated %}
                              <a class="wrapper__menu-link" href="/profile">Профиль</a>
                          {% endif %}
                          {% if not current_user.is_authenticated %}
                              <a class="wrapper__menu-link" href="/login">Войти</a>
                          <a class="wrapper__menu-link" href="/registration">Регистрация</a>
                          {% endif %}
                          {% if current_user.is_authenticated %}
                              <a class="wrapper__menu-link" href="/logout">Выйти</a>
                          {% endif %}
                          <a href="/" class="wrapper__menu-link">Главная</a>
                          <a href="/about" class="wrapper__menu-link">О компании</a>
                          <a href="/contacts" class="wrapper__menu-link">Контакты</a>
                          <a href="/where" class="wrapper__menu-link">Где забрать?</a>
                      </div>
                </div>
            </div>
            <div class="header-container-second">
                <a class="header-nav-link {% block active_main %}  {% endblock %}" aria-current="page" href="/">ГЛАВНАЯ</a>
                <a class="header-nav-link {% block active_about %}  {% endblock %}" href="/about">О НАС</a>
                <a class="header-nav-link {% block active_contacts %}  {% endblock %}" href="/contacts">КОНТАКТЫ</a>
                <a class="header-nav-link {% block active_where %}  {% endblock %}" href="/where">ГДЕ ЗАБРАТЬ</a>
                <a class="header-nav-link {% block active_why %}  {% endblock %}" href="/why">ПОЧЕМУ У НАС ДЕШЕВЛЕ?</a>
            </div>
        </header>
        <main class="content-container">
                <nav class="nav-main">
                    <div class="nav-border">
                        <a href="/suspension" class="header-nav-link {% block varactive1 %}  {% endblock %}" >Подвеска</a>
                        <a href="/electrical" class="header-nav-link {% block varactive2 %}  {% endblock %}">Электрика</a>
                        <a href="/brake" class="header-nav-link {% block varactive3 %}  {% endblock %}">Тормозa</a>
                        <a href="/engine" class="header-nav-link {% block varactive4 %}  {% endblock %}">Двигатель</a>
                        <a href="/body" class="header-nav-link {% block varactive5 %}  {% endblock %}" >Кузов</a>
                        <a href="/transmission" class="header-nav-link {% block varactive6 %}  {% endblock %}" >Трансмиссия</a>
                    </div>
                </nav>
                {% if main %}
                    <div class="content-block-no-border">
                {% elif product_card %}
                    <div class="content-block-no-border">
                {% else %}
                    <div class="content-block">

                {% endif %}
                        {% block body %}{% endblock %}
                    </div>
            <footer>
                <div class="footer-container">
                    <div class="none-content">

                    </div>
                    <div class="col-f-l">
                        <ul class="ul-footer">
                            <li>
                                <a class="footer-nav-link" href="/about">О нас</a>
                            </li>
                            <li>
                                <a class="footer-nav-link" href="/contacts">Контакты</a>
                            </li>
                        </ul>
                        <ul class="ul-footer">
                            <li>
                              <a class="footer-nav-link" href="/where">Где забрать</a>
                            </li>
                            <li>
                                <a class="footer-nav-link" href="/why">Почему у нас дешевле?</a>
                            </li>
                        </ul>
                        <ul class="ul-footer">
                            <li>
                                <a class="footer-nav-link" aria-current="page" href="/">Карта сайта</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-f-r">
                        <p class="right">Мы принимаем: </p>
                        <img class="right" src="{{ url_for("static", filename="paysystems.png") }}">
                    </div>
                </div>
            </footer>
        </main>
    </div>
</body>