{% extends 'base.html' %}

{% block title %}
<title>Добавление товара</title>
{% endblock %}

{% block varactive5 %}
active
{% endblock %}

{% block body %}
        <h2 class="p-center">Кузовные элементы</h2>

        <div class="card-block">
            <div class="card card-menu" >
                <a class="card-top" href="/body/front_bumper">
                    <img src="{{ url_for("static", filename="t347630.jpg") }}" height="120" width="140" alt="ops image">

                </a>
                <a class="card-bottom p-center" href="/body/front_bumper">
                   Передний бампер
                </a>
            </div>
            <div class="card card-menu">
                <a class="card-top" href="/body/back_bumper">
                    <img src="{{ url_for("static", filename="t126458.jpg") }}" height="120" width="140" alt="ops image">

                </a>
                <a class="card-bottom p-center" href="/body/back_bumper">
                   Задний бампер
                </a>
            </div>
            <div class="card card-menu">
                <a class="card-top" href="/body/door">
                    <img src="{{ url_for("static", filename="t420247.jpg") }}" height="120" width="140" alt="ops image">

                </a>
                <a class="card-bottom p-center" href="/body/door">
                   Двери
                </a>
            </div>
            <div class="card card-menu">
                <a class="card-top" href="/body/hood">
                    <img src="{{ url_for("static", filename="t000938.jpg") }}" height="120" width="140" alt="ops image">

                </a>
                <a class="card-bottom p-center" href="/body/hood">
                   Капот
                </a>
            </div>
            <div class="card card-menu">
                <a class="card-top" href="/body/wing">
                    <img src="{{ url_for("static", filename="t272810.jpg") }}" height="120" width="140" alt="ops image">

                </a>
                <a class="card-bottom p-center" href="/body/wing">
                   Крылья
                </a>
            </div>
            <div class="card card-menu">
                <a class="card-top" href="/body/nut">
                    <img src="{{ url_for("static", filename="porog_2109.jpg") }}" height="120" width="140" alt="ops image">

                </a>
                <a class="card-bottom p-center" href="/body/nut">
                   Пороги
                </a>
            </div>
            <div class="card card-menu">
                <a class="card-top" href="/body/glass">
                    <img src="{{ url_for("static", filename="t284431.jpg") }}" height="120" width="140" alt="ops image">

                </a>
                <a class="card-bottom p-center" href="/body/glass">
                   Остекление
                </a>
            </div>
        </div>

    </div>
{% endblock %}