{% extends 'base.html' %}

{% block title %}
<title>Добавление товара</title>
{% endblock %}

{% block varactive5 %}
active
{% endblock %}

{% block body %}
        <h2 class="p-center">Кузовные элементы</h2>

        <div class="card-block">
            <div class="card img-card-menu" >
                <a class="card-top" href="/body/front_bumper" style="background: url(static/t347630.jpg) no-repeat;  background-size: 100%;">

                </a>
                <a class="card-bottom p-center" href="/body/front_bumper">
                   Передний бампер
                </a>
            </div>
            <div class="card img-card-menu">
                <a class="card-top" href="/body/back_bumper" style="background: url(static/t126458.jpg) no-repeat;  background-size: 100%;">
                </a>
                <a class="card-bottom p-center" href="/body/back_bumper">
                   Задний бампер
                </a>
            </div>
            <div class="card img-card-menu">
                <a class="card-top" href="/body/door" style="background: url(static/t420247.jpg) no-repeat;  background-size: 100%;">
                </a>
                <a class="card-bottom p-center" href="/body/door">
                   Двери
                </a>
            </div>
            <div class="card img-card-menu">
                <a class="card-top" href="/body/hood" style="background: url(static/t000938.jpg) no-repeat;  background-size: 100%;">
                </a>
                <a class="card-bottom p-center" href="/body/hood">
                   Капот
                </a>
            </div>
            <div class="card img-card-menu">
                <a class="card-top" href="/body/wing" style="background: url(static/t272810.jpg) no-repeat;  background-size: 100%;">

                </a>
                <a class="card-bottom p-center" href="/body/wing">
                   Крылья
                </a>
            </div>
            <div class="card img-card-menu">
                <a class="card-top" href="/body/nut" style="background: url(static/porog_2109.jpg) no-repeat;  background-size: 100%;">
                </a>
                <a class="card-bottom p-center" href="/body/nut">
                   Пороги
                </a>
            </div>
            <div class="card img-card-menu">
                <a class="card-top" href="/body/glass" style="background: url(static/t284431.jpg) no-repeat;  background-size: 100%;">
                </a>
                <a class="card-bottom p-center" href="/body/glass">
                   Остекление
                </a>
            </div>
        </div>

    </div>
{% endblock %}