{% extends 'base.html' %}

{% block title %}
<title>Добавление товара</title>
{% endblock %}

{% block varactive3 %}
active
{% endblock %}

{% block body %}
        <h2 class="p-center">Тормозная система</h2>

        <div class="card-block">
            <div class="card img-card-menu" >
                <a class="card-top" href="/brake/vacuum" style="background: url(static/37_auto_120.jpg) no-repeat;  background-size: 100%;">
                </a>
                <a class="card-bottom p-center"  href="/brake/vacuum">
                    Вакуумный усилитель
                </a>
            </div>
            <div class="card img-card-menu">
                <a class="card-top" href="/brake/brake_cylinder" style="background: url(static/wilwood_master_cyl_wo_logo_auto_120.jpg) no-repeat;  background-size: 100%;">
                </a>
                <a class="card-bottom p-center" href="/brake/brake_cylinder">
                    Главный тормозной цилиндр.
                </a>
            </div>
            <div class="card img-card-menu">
                <a class="card-top" href="/brake/brake_discs" style="background: url(static/41_auto_120.jpg) no-repeat;  background-size: 100%;">
                </a>
                <a class="card-bottom p-center" href="/brake/brake_discs">
                   Тормозные диски
                </a>
            </div>
            <div class="card img-card-menu">
                <a class="card-top" href="/brake/brake_pads" style="background: url(static/38_auto_120.jpg) no-repeat;  background-size: 100%;">
                </a>
                <a class="card-bottom p-center" href="/brake/brake_pads">
                   Колодки тормозные
                </a>
            </div>
            <div class="card img-card-menu">
                <a class="card-top" href="/brake/caliper" style="background: url(static/2112_brake_caliper_wo_logo_auto_120.jpg) no-repeat;  background-size: 100%;">
                </a>
                <a class="card-bottom p-center" href="/brake/caliper">
                   Суппорт | рабочий тормозной цилиндр
                </a>
            </div>
        </div>
    </div>

{% endblock %}