{% extends 'base.html' %}

{% block title %}
<title>Магазин Шестерёнка</title>
{% endblock %}

{% block body %}

<div class="content-header-line">
    <h2 class="display-4">КОРЗИНА</h2>
    <a href="/">Вернуться к покупкам</a>
</div>

    <div class="container">
        {% if not data %}
        <p class="p-center-cart">
            <img class="cart-img" src="{{ url_for("static", filename="img/cart.svg") }}"></p>
            <p class="empty-cart">Ваша корзина пуста!</p>
        {% else %}
        <table class="table table-borderless col-del">
            <thead>
                <tr class="tr-zerro">
                    <th scope="col"> </th>
                    <th scope="col">Название</th>
                    <th class="col">Цена за шт.</th>
                    <th scope="col">Количество</th>
                    <th scope="col">Сумма</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for el in data %}
                <tr>
                    <td scope="row">
                        {% if el.image %}
                        {% set name = el.image %}
                            <img src="{{ url_for('static', filename="downloads") }}/{{el.image}}.jpg" alt="{{el.image_alt}}">
                        {% endif %}
                    </td>
                    <td>
                        <a href="/product-card/{{el.id}}">
                            {{el.title}} {{el.producer}}
                        </a>
                    </td>
                    <td>{{el.price}}</td>
                    <td>
                        <span id="dp{{el.id}}"></span>
                        <form class="form" method="POST">
                            <div class="add-dell-item">
                                <button class="count-action  btn-none"  type="submit" value="{{el.id}}" name="del_one_id" id="del_one_id">
                                    <img src="{{ url_for('static', filename="img/iconmonstr-minus-6.svg") }}">
                                </button>
                                <div class="count-center">
                                    <span class="input-group-text" id="{{el.balance}}">{{el.value}}</span>
                                </div>
                                {% if  el.balance == el.value %}
                                    <button class="count-action btn-none" type="button"  onclick="return alertInCart('dp{{el.id}}');">
                                        <img src="{{ url_for('static', filename="img/iconmonstr-plus-6.svg") }}">
                                    </button>
                                {% else %}
                                    <button class="count-action btn-none" type="submit"  value="{{el.id}}" name="add_one_id" id="add_one_id">
                                        <img src="{{ url_for('static', filename="img/iconmonstr-plus-6.svg") }}">
                                    </button>
                                {% endif %}
                            </div>
                        </form>
                    </td>
                    <td>{{el.value * el.price}}</td>
                    <td>
                        <form class="form" method="POST">
                            <div class="basket-item-block-actions">
						        <button class="basket-item-actions-remove btn-none" type="submit"  value="{{el.id}}" name="del_id" id="del_id"></button>
					        </div>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% for el in data %}
            <div class="card-block-row-mobile mobile">
                <div class="card-img">
                    {% if el.image %}
                        {% set name = el.image %}
                        <img src="{{ url_for('static', filename="downloads") }}/{{el.image}}.jpg" alt="{{el.image_alt}}">
                    {% endif %}
                </div>
                <div class="card-text-mobile">
                    <div class="grid-9-1">
                        <a href="/product-card/{{el.id}}">
                            <h3 class="p-center">{{el.title}} "{{el.producer}}"</h3>
                        </a>
                        <form class="form" method="POST">
                                <div class="basket-item-block-actions">
                                    <button class="basket-item-actions-remove btn-none" type="submit"  value="{{el.id}}" name="del_id" id="del_id"></button>
                                </div>
                        </form>
                    </div>
                    <p class="p-center">Цена за штуку: <span class="orange">{{el.price}} руб.</span></p>
                    <span id="mob{{el.id}}"></span>
                    <div class="form-cart-mobile p-center">
                        <form class="form p-center" method="POST">
                            <div class="add-dell-item">
                                <button class="count-action  btn-none"  type="submit" value="{{el.id}}" name="del_one_id" id="del_one_id">
                                    <img src="{{ url_for('static', filename="img/iconmonstr-minus-6.svg") }}">
                                </button>
                                <div class="count-center">
                                    <span class="input-group-text" id="{{el.balance}}">{{el.value}}</span>
                                </div>
                                {% if  el.balance == el.value %}
                                    <button class="count-action btn-none" type="button"  onclick="return alertInCart('mob{{el.id}}');">
                                        <img src="{{ url_for('static', filename="img/iconmonstr-plus-6.svg") }}">
                                    </button>
                                {% else %}
                                    <button class="count-action btn-none" type="submit"  value="{{el.id}}" name="add_one_id" id="add_one_id">
                                        <img src="{{ url_for('static', filename="img/iconmonstr-plus-6.svg") }}">
                                    </button>
                                {% endif %}
                            </div>
                        </form>
                        <p class="p-center">Сумма: {{el.value * el.price}}</p>

                    </div>
                </div>
            </div>
        {% endfor %}
            <form class="footer_card" method="POST">
                <div>
                    <p>
                        {% if cart_info.count_product %}
                            Итого: {{cart_info.cost_products_in_cart}} руб.
                        {% else %}
                                0
                        {% endif %}
                    </p>
                </div>
                <div>
                    <button type="submit" class="btn btn-success btn-cart" value="0" name="addasd_id" id="addasd_id">Оформить заказ</button>
                </div>
            </form>
        {% endif %}
    </div>
    </div>
<script type="text/javascript" src="{{ url_for("static", filename="js/scripts.js") }}"></script>
{% endblock %}