{% extends 'base.html' %}

{% block title %}
<title>Контакты</title>
{% endblock %}

{% block active_contacts %}
active
{% endblock %}


{% block body %}

    <div class="container">
        <h1>Как с нами связатся!</h1>
        <br>
        <div class="row">
            Пишите нам на почту info@shesternia.ru или звоните по телефону 8-800-2000-600
        </div>
        <br>
        <p>
            Наш адрес: г.Киров пос. Садоковский ул. Московская 7а
        </p>
        <br>
        <p>
            Время работы с 10:00 до 22:00 без выходных
        </p>
    </div>
    </div>
{% endblock %}