{% extends 'base.html' %}

{% block title %}
<title>Добавление товара</title>
{% endblock %}

{% block varactive2 %}
active
{% endblock %}

{% block body %}
        <h2 class="p-center">Электрооборудование</h2>

        <div class="card-block">
            <div class="card img-card-menu" >
                <a class="card-top" href="/electrical/ignition" style="background: url(static/161_auto_120.jpg) no-repeat;  background-size: 100%;">

                </a>
                <a class="card-bottom p-center" href="/electrical/ignition">
                   Система зажигания
                </a>
            </div>
            <div class="card img-card-menu">
                <a class="card-top" href="/electrical/sensor" style="background: url(static/map_auto_120.jpg) no-repeat;  background-size: 100%;">
                </a>
                <a class="card-bottom p-center" href="/electrical/sensor">
                    Датчики
                </a>
            </div>
            <div class="card img-card-menu">
                <a class="card-top" href="/electrical/wiring" style="background: url(static/ecu_auto_120.jpg) no-repeat;  background-size: 100%;">
                </a>
                <a class="card-bottom p-center" href="/electrical/wiring">
                    Блоки управления | Проводка
                </a>
            </div>
            <div class="card img-card-menu">
                <a class="card-top" href="/electrical/gena" style="background: url(static/t477547.jpg) no-repeat;  background-size: 100%;">
                </a>
                <a class="card-bottom p-center" href="/electrical/gena">
                    Стартер | Генератор
                </a>
            </div>
            <div class="card img-card-menu">
                <a href="/electrical/light" class="card-top" style="background: url(static/t334762.jpg) no-repeat;  background-size: 100%;">
                </a>
                <a class="card-bottom" href="/electrical/light">
                    Освещение
                </a>
            </div>
        </div>

    </div>
{% endblock %}