{% extends 'base.html' %}

{% block title %}
<title>Добавление товара</title>
{% endblock %}

{% block varactive4 %}
active
{% endblock %}

{% block body %}
        <h2 class="p-center">Комплектующие двигателя</h2>

        <div class="card-block">
            <div class="card img-card-menu">
                <a class="card-top" href="/engine/GBC" style="background: url(static/13_auto_120.jpg) no-repeat;  background-size: 100%;">
                </a>
                <a class="card-bottom p-center" href="/engine/GBC">
                    ГБЦ и комплектующие
                </a>
            </div>
            <div class="card img-card-menu">
                <a class="card-top" href="/engine/timing_belt" style="background: url(static/7_auto_120.jpg) no-repeat;  background-size: 100%;">
                </a>
                <a class="card-bottom p-center" href="/engine/timing_belt">
                    Ремни | Шестерни ГРМ
                </a>
            </div>
            <div class="card img-card-menu">
                <a class="card-top" href="/engine/intake_system" style="background: url(static/universal_trottle_body_black_main_auto_120.jpg) no-repeat;  background-size: 100%;">
                </a>
                <a class="card-bottom p-center" href="/engine/intake_system">
                    Впускная система
                </a>
            </div>
            <div class="card img-card-menu">
                <a class="card-top" href="/engine/exhaust_system" style="background: url(static/muffer_auto_120.jpg) no-repeat;  background-size: 100%;">
                </a>
                <a class="card-bottom p-center" href="/engine/exhaust_system">
                    Выпускная система
                </a>
            </div>
            <div class="card img-card-menu">
                <a class="card-top" href="/engine/motor_support" style="background: url(static/11_auto_120.jpg) no-repeat;  background-size: 100%;">
                </a>
                <a class="card-bottom p-center" href="/engine/motor_support">
                    Опоры двигателя
                </a>
            </div>
            <div class="card img-card-menu">
                <a class="card-top" href="/engine/piston" style="background: url(static/9_auto_120.jpg) no-repeat;  background-size: 100%;">
                </a>
                <a class="card-bottom p-center" href="/engine/piston">
                    Шатунно-поршневая группа
                </a>
            </div>
            <div class="card img-card-menu">
                <a class="card-top" href="/engine/stuff" style="background: url(static/12_auto_120.jpg) no-repeat;  background-size: 100%;">
                </a>
                <a class="card-bottom p-center" href="/engine/stuff">
                    Разное
                </a>
            </div>
        </div>

    </div>
{% endblock %}