{% extends 'base.html' %}

{% block title %}
<title>Магазин Шестерёнка</title>
{% endblock %}

{% block active_main %}
active
{% endblock %}

{% block body %}

    <h2 class="p-center">Новые поступления</h2>
      <div class="card-block">
      {% for el in data %}
          <script>
                const img = document.getElementById("{{el.image}}")
                img.addEventListener("error", function(event) {
                  event.target.src = "https://default-image-link-goes-here";
                  event.onerror = null;
                });
          </script>
            <div class="card card-main">
                <a class="card-top" href="/product-card/{{el.id}}">
                    <div class="card-menu">

                        {% if el.image%}
                            {% set name =     el.image %}
                            <img id="{{el.image}}" src="{{ url_for('static', filename="downloads") }}/{{el.image}}.jpg" alt="{{el.image_alt}}">
                        {% else %}
                            <img src="{{ url_for('static', filename="no_photo.img") }}">
                        {% endif %}
                    </div>
                    <div class="card-main-bottom ">
                        <p class="p-center">{{el.title}} "{{el.producer}}"</p>
                        <p class="p-center">Для: {{el.model_auto}} </p>
                        <div class="card-price-btm">
                            <p class="p-center">{{el.price}} руб.</p>
                            <div class="form">
                               <a href="/add-to-cart/{{el.id}}" value="{{el.id}}" name="id" id="id" >
                                    <button class="btn-by-main btn-none" >Купить в 1 клик</button>
                               </a>
                            </div>

                            <!--<form class="form p-center white " method="POST">
                                  <a href="/add-to-cart/{{el.id}}" value="{{el.id}}" name="id" id="id" >
                                      <button class="btn-by-main btn-none" >Купить в 1 клик</button>
                                  </a>
                             -->
                            </form>
                        </div>
                    </div>
                </a>
            </div>

      {% endfor %}
      </div>
    </div>


{% endblock %}