{% extends 'base.html' %}

{% block title %}
<title>Список с ценами</title>
{% endblock %}

{% block body %}

    {% if not data %}
        <p class="p-center">Сейчас товар в данной категории отсутствует</p>
    {% else %}
    <div class="card-block">
        {% for el in data %}
        <a href="/product-card/{{el.id}}">
            <div class="card-block-row">
                <div class="card-img">
                    {% if el.image %}
                        {% set name = el.image %}
                        <img src="{{ url_for('static', filename="downloads") }}/{{el.image}}.jpg" alt="{{el.image_alt}}">
                    {% endif %}
                </div>
                <div class="card-text">
                    <h3 class="p-center">{{el.title}} "{{el.producer}}"</h3>
                    <p class="p-center">Подходит на:  {{el.model_auto}} </p>
                    <p class="p-center">Цена: <span class="orange">{{el.price}} руб.</span></p>
                    <p class="p-center">Осталось в наличии: {{el.balance}}шт.</p>
                    <div class="group-btn p-center">
                        <a href="/add-to-cart/{{el.id}}" value="{{el.id}}" name="id" id="id" >
                                  <button class="btn btn-by" >Купить в 1 клик</button>
                        </a>
                          <form class="" method="POST">

                              <button class="btn btn-by" type="submit" value="{{el.id}}" name="add_id" id="add_id">
                                  {% if cart_info.count_product %}
                                       {% set ns = namespace(found=false) %}
                                       {% for id_p in cart_info.arr_product_in_cart %}
                                           {% if id_p == el.id %}
                                                {% set ns.found = true %}
                                           {% endif %}
                                       {% endfor %}
                                       {% if ns.found %}
                                            В корзине
                                       {% else %}
                                            Добавить в корзину
                                       {% endif %}
                                  {% else %}
                                       Добавить в корзину
                                  {% endif %}
                              </button>
                          </form>
                    </div>
                </div>

            </div>
        </a>

        {% endfor %}
    {% endif%}
    </div>
    </div>
{% endblock %}