{% extends 'base.html' %}

{% block title %}
<title>Добавление товара</title>
{% endblock %}

{% block body %}
    <div class="container-login">
        <h1>Авторизация</h1>
        <br>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <form class="form-contact" method="POST">
            <div class="row-input">
                <div class="input-row">
                  <input type="text" class="form-control" name="email" id="email" placeholder="Введите логин или e-mail">
                </div>
            </div>
            <div class="row-input">
                <div class="input-row">
                  <input type="password" class="form-control" name="password" id="password" placeholder="Введите пароль">
                </div>
            </div>
            <button class="btn btn-login" type="submit">Войти</button>
            <a href="#">Забыл пароль?</a>
        </form>

    </div>
    </div>
{% endblock %}
