{% extends 'base.html' %}

{% block title %}
<title>Список с ценами</title>
{% endblock %}
{% block body %}
    {% for el in product_info %}
    <div class="product-card-top">
        <div class="bread-crumbs">
            <h3 class="p-left">{{el.title}} "{{el.producer}}" для {{ el.model_auto }}</h3>
        </div>
        <div class="info-product">
            <div class="card-img-slider">
                {% if el.image %}
                    {% set name = el.image %}
                    <img src="{{ url_for('static', filename="/downloads") }}/{{el.image}}" alt="{{el.image_alt}}">
                {% endif %}
            </div>
            <div>

                <p class="p-center">Цена: <span class="orange">{{el.price}} руб.</span></p>
                    <span id="alert-before"></span>
                    <div class="add-dell-item">
                        <button class="count-action  btn-none" onclick="return Calculate('-');"   value="{{el.id}}" name="del_one_id" id="del_one_id">

                            <img src="{{ url_for('static', filename="img/iconmonstr-minus-6.svg") }}">
                        </button>
                        <div class="count-center">
                            <div class="input-group-text" id="count-product">1</div>
                        </div>
                        <button class="count-action btn-none" onclick="return Calculate('+');"  value="{{el.id}}" name="add_one_id" id="add_one_id">
                            <img src="{{ url_for('static', filename="img/iconmonstr-plus-6.svg") }}">
                        </button>
                    </div>
                {% if get_flashed_messages() == [] %}
                    <p class="p-center">Осталось в наличии: <span id="maxCount">{{el.balance}}</span> шт.</p>
                {% endif %}
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul class="flashes p-center">
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
                <div class="p-center">
                    <button class="btn btn-by" onclick="return addInCart('{{el.id}}')" value="{{el.id}}" name="add_id" id="add_id">
                        Добавить в корзину
                    </button>
                    <a href="/add-to-cart/{{el.id}}" value="{{el.id}}" name="id" id="id" >
                        <button class="btn btn-by" >Купить в 1 клик</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="product-card-footer">
        <div class="product-tabs">
            <ul>
                <li class="li hover-tab" onclick="return SelectTab('1');" id="btn1">
                    Характеристики
                </li>
                <li class="li" onclick="return SelectTab('2');" id="btn2">
                    Применяемость
                </li>
                <li class="li" onclick="return SelectTab('3');" id="btn3">
                    Отзывы
                </li>
            </ul>
            <div id="content-slider">
                <div class="displayyes" id="text1">
                    {{ el.description }}
                    <img href="{{ url_for('static', filename="img/img-minus-button.jpg") }}">
                </div>
                <div class="display" id="text2">
                    <p>
                        Подходит для автомобилей {{ el.model_auto }}
                    </p>
                </div>
                <div class="display" id="text3">
                    Для того, что бы оставить отзыв нужно <a class="header-link" href="/login">Войти</a> или <a class="header-link" href="/registration">зарегистрироваться</a>
                </div>
            </div>
        </div>
        <div class="product-page">

        </div>
    </div>
    {% endfor %}
    </div>
<script type="text/javascript" src="{{ url_for("static", filename="js/scripts.js") }}"></script>
{% endblock %}