{% extends 'base.html' %}

{% block title %}
<title>Добавление товара</title>
{% endblock %}

{% block body %}
    <div class="container-login">
        <h1>Регистрация</h1>
        <br>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        {% if error %}
            <p class=error><strong>Error:</strong> {{ error }}
        {% endif %}
        <form class="form-contact" method="POST" id="demoForm" action="javascript:void(0)">

            <div class="mb-3 row">
                <div class="row-input">
                    <input type="text" class="form-control" name="email" id="email" placeholder="Введите e-mail">
                    <div id="error"></div>
                </div>
            </div>
            <div class="mb-3 row">
                <div class="row-input">
                  <input type="text" class="form-control" name="name" id="name" placeholder="Введите ваше имя">
                </div>
            </div>
            <div class="mb-3 row">
                <div class="row-input">
                  <input type="text" class="form-control" name="phone" id="phone" placeholder="Введите ваш номер телефона">
                </div>
            </div>
            <div class="mb-3 row">
                <div class="row-input">
                  <input type="password" class="form-control" name="password" id="password" placeholder="Придумайте пароль">
                </div>
                <div id="error"></div>
            </div>
            <div class="mb-3 row">
                <div class="row-input">
                  <input type="password" class="form-control" name="password2" id="password2" placeholder="Повторите пароль" >
                </div>
            </div>
            <button class="btn btn-login" type="submit">Зарегистрироваться</button>
        </form>

    </div>
    </div>
<script type="text/javascript" src="{{ url_for("static", filename="js/validate.form.js") }}"></script>
{% endblock %}