{% extends 'base.html' %}

{% block title %}
<title>Добавление товара</title>
{% endblock %}

{% block body %}
    <div class="container-login">
        <h1>Ошибка</h1>
        <br>
        <p>Извините, временно функциональность сайта ограничена т.к. ведутся технические работы.
            <br> В ближайшее время все возможности снова будут доступны! Приносим свои извенения за предоставленные неудобства.
            <a id="login_link" href="/">Вернуться на главную страницу</a>
        </p>




    </div>
    </div>
{% endblock %}