{% extends 'base.html' %}

{% block title %}
<title>Добавление товара</title>
{% endblock %}

{% block body %}
    <div class="container-login">
        <h1>Поздравляем!</h1>
        <br>
        <p>Регистрация прошла успешно! Теперь Вам нужно
            <a id="login_link" href="/login">авторизоваться.</a>
        </p>


        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}



    </div>
    </div>
{% endblock %}
