{% extends 'base.html' %}

{% block title %}
<title>Добавление товара</title>
{% endblock %}

{% block varactive1 %}
active
{% endblock %}


{% block body %}
        <h2 class="p-center">Подвеска</h2>

        <div class="card-block">
            <div class="card card-menu" >
                <a class="card-top" href="/suspension/damper">
                    <img src="{{ url_for("static", filename="19_auto_120.jpg") }}" height="120" width="140" alt="ops image">

                </a>
                <a class="card-bottom p-center" href="/suspension/damper">
                    Амортизаторы
                </a>
            </div>
            <div class="card card-menu">
                <a class="card-top" href="/suspension/springs">
                    <img src="{{ url_for("static", filename="prug_2170.jpg") }}" height="120" width="140" alt="ops image">
                </a>
                <a class="card-bottom p-center" href="/suspension/springs">
                    Пружины.
                </a>
            </div>
            <div class="card card-menu">
                <a class="card-top" href="/suspension/levers">
                    <img src="{{ url_for("static", filename="22_auto_120.jpg") }}" height="120" width="140" alt="ops image">

                </a>
                <a class="card-bottom p-center" href="/suspension/levers">
                    Рычаги
                </a>
            </div>
            <div class="card card-menu">
                <a class="card-top" href="/suspension/bearings">
                    <img src="{{ url_for("static", filename="21_auto_120.jpg") }}" height="120" width="140" alt="ops image">

                </a>
                <a class="card-bottom p-center" href="/suspension/bearings">
                    Опорные подшипники
                </a>
            </div>
            <div class="card card-menu">
                <a class="card-top" href="/suspension/steering">
                    <img src="{{ url_for("static", filename="29_auto_120.jpg") }}" height="120" width="140" alt="ops image">
                </a>
                <a class="card-bottom p-center" href="/suspension/steering">
                    Рулевое управление.
                </a>
            </div>
            <div class="card card-menu">
                <a class="card-top" href="/suspension/silent_blocks">
                    <img src="{{ url_for("static", filename="26_auto_120.jpg") }}" height="120" width="140" alt="ops image">

                </a>
                <a class="card-bottom p-center" href="/suspension/silent_blocks">
                    Сайлентблоки и втулки
                </a>
            </div>
            <div class="card card-menu">
                <a class="card-top" href="/suspension/ball_joints">
                    <img src="{{ url_for("static", filename="trs_trek_wo-logo_auto_120.jpg") }}" height="120" width="140" alt="ops image">

                </a>
                <a class="card-bottom p-center" href="/suspension/ball_joints">
                    Шаровые опоры.
                </a>
            </div>
        </div>
    </div>

{% endblock %}