{% extends 'base.html' %}

{% block title %}
<title>Добавление товара</title>
{% endblock %}

{% block varactive1 %}
active
{% endblock %}


{% block body %}
        <h2 class="p-center">Подвеска</h2>

        <div class="card-block">
            <div class="card img-card-menu" >
                <a class="card-top" href="/suspension/damper" style="background: url(static/19_auto_120.jpg) no-repeat;  background-size: 100%;">
                </a>
                <a class="card-bottom p-center" href="/suspension/damper">
                    Амортизаторы
                </a>
            </div>
            <div class="card img-card-menu">
                <a class="card-top" href="/suspension/springs" style="background: url(static/prug_2170.jpg) no-repeat;  background-size: 100%;">
                </a>
                <a class="card-bottom p-center" href="/suspension/springs">
                    Пружины.
                </a>
            </div>
            <div class="card img-card-menu">
                <a class="card-top" href="/suspension/levers" style="background: url(static/22_auto_120.jpg) no-repeat;  background-size: 100%;">
                </a>
                <a class="card-bottom p-center" href="/suspension/levers">
                    Рычаги
                </a>
            </div>
            <div class="card img-card-menu">
                <a class="card-top" href="/suspension/bearings" style="background: url(static/21_auto_120.jpg) no-repeat;  background-size: 100%;">
                </a>
                <a class="card-bottom p-center" href="/suspension/bearings" >
                    Опорные подшипники
                </a>
            </div>
            <div class="card img-card-menu">
                <a class="card-top" href="/suspension/steering" style="background: url(static/29_auto_120.jpg) no-repeat;  background-size: 100%;">
                </a>
                <a class="card-bottom p-center" href="/suspension/steering">
                    Рулевое управление.
                </a>
            </div>
            <div class="card img-card-menu">
                <a class="card-top" href="/suspension/silent_blocks" style="background: url(static/26_auto_120.jpg) no-repeat;  background-size: 100%;">
                </a>
                <a class="card-bottom p-center" href="/suspension/silent_blocks">
                    Сайлентблоки и втулки
                </a>
            </div>
            <div class="card img-card-menu">
                <a class="card-top" href="/suspension/ball_joints" style="background: url(static/trs_trek_wo-logo_auto_120.jpg) no-repeat;  background-size: 100%;">
                </a>
                <a class="card-bottom p-center" href="/suspension/ball_joints">
                    Шаровые опоры.
                </a>
            </div>
        </div>
    </div>

{% endblock %}