{% extends 'base.html' %}

{% block title %}
<title>Добавление товара</title>
{% endblock %}

{% block varactive %}
{% set active = namespace(found=false) %}
{% endblock %}

{% block varactive6 %}
active
{% endblock %}

{% block body %}

        <h2 class="p-center">Элементы трансмиссии</h2>
        <div class="card-block">
            <div class="card card-menu" >
                <a class="card-top" href="/transmission/gearbox_parts" style="text-decoration: none;">
                    <img src="{{ url_for("static", filename="29_auto_120 (1).jpg") }}" height="120" width="140" alt="ops image">

                </a>
                <a class="card-bottom p-center" href="/transmission/gearbox_parts">
                   Запчасти кпп ваз
                </a>
            </div>
            <div class="card card-menu">
                <a class="card-top" href="/transmission/actuator">
                    <img src="{{ url_for("static", filename="33_auto_120.jpg") }}" height="120" width="140" alt="ops image">

                </a>
                <a href="/transmission/actuator" class="card-bottom p-center">
                   Привода ваз
                </a>
            </div>
            <div class="card card-menu">
                <a class="card-top" href="/transmission/clutch">
                    <img src="{{ url_for("static", filename="32_auto_120.jpg") }}" height="120" width="140" alt="ops image">

                </a>
                <a href="/transmission/clutch" class="card-bottom p-center">
                   Сцепление
                </a>
            </div>
            <div class="card card-menu">
                <a class="card-top" href="/transmission/gear">
                    <img src="{{ url_for("static", filename="gearhead_wo_logo_auto_120.jpg") }}" height="120" width="140" alt="ops image">

                </a>
                <a href="/transmission/gear" class="card-bottom p-center">
                   Задний редуктор моста ВАЗ
                </a>
            </div>
        </div>
    </div>

{% endblock %}