{% extends 'base.html' %}

{% block title %}
<title>Почему у нас?</title>
{% endblock %}

{% block active_why %}
active
{% endblock %}


{% block body %}

    <div class="container">
        <h1>Почему у нас дешевле?</h1>
        <br>
        <div class="row">
            Покупая у наc, Вы экономите время и деньги! Не надо стоять в очереди и ждать пока Вам подберут нужную деталь. У нас дешевле потому что нам не нужно содержать огромный шатат продовцов-консультантов. Мы не снимаем дорогие, но красивые помещения для открытия магазина.
        </div>
        <br>
    </div>
    </div>

{% endblock %}